
spring:
  datasource:
    url: jdbc:h2:mem:test;MODE=PostgreSQL
    tomcat:
      test-on-borrow: true
      validation-query: 'SELECT 1'
      validation-interval: 10000
      max-active: 5
      max-idle: 5
      min-idle: 2
      initial-size: 2
      remove-abandoned: true
      remove-abandoned-timeout: 120 # seconds
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

spring:
  liquibase.change-log: 'classpath:db/changelog-master.groovy'
