
server.port: 8081

spring:
  datasource:
    #url: jdbc:h2:mem:test;MODE=PostgreSQL
    url: "jdbc:postgresql://localhost:5432/workinghours"
    username: "workinghours"
    password: "workinghours"

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    #show-sql: true

liquibase.change-log: 'classpath:db/changelog-master.groovy'


